@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --profile-green: hsl(75, 94%, 57%);
  --profile-white: hsl(0, 0%, 100%);
  --profile-grey-700: hsl(0, 0%, 20%);
  --profile-grey-800: hsl(0, 0%, 12%);
  --profile-grey-900: hsl(0, 0%, 8%);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);

  --color-profile-green : var(--profile-green);
  --color-profile-white : var(--profile-white);
  --color-profile-grey-700: var(--profile-grey-700);
  --color-profile-grey-800: var(--profile-grey-800);
  --color-profile-grey-900: var(--profile-grey-900);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter); 
}
